<div class="container">
  <div class="row-spacing row">
    <button (click)="openDialog()" pButton type="button" icon="fas fa-cubes" iconPos="left"
      label="Add new item"></button>
  </div>
  <div class="row-spacing row">
    <p-table [value]="items">
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Desc</th>
          <th>Model Id</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{item.id}}</td>
          <td>{{item.item_name}}</td>
          <td>{{item.desc}}</td>
          <td>{{item.model_id}}</td>
          <td>
            <button (click)="deleteCatalogItem(item.id)" pButton type="button" class="ui-button-danger"
              icon="fas fa-trash-alt" iconPos="left" label="Delete"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-dialog header="Item" [(visible)]="showDialog" [style]="{width: '500px'}">


    <div class="container">
      <div class="row-spacing row">
          <label style="width:150px;">Name: </label>
          <input type="text" size="30" [(ngModel)]="item.item_name" pInputText>
          
        
      </div>

      <div class="row-spacing row">
          <label  style="width:150px;">Description: </label>
          <textarea pInputTextarea [(ngModel)]="item.desc"></textarea>
          
      </div>

      <div class="row-spacing row">
          <label  style="width:150px;">Model ID: </label>
          <input type="text" size="30" [(ngModel)]="item.model_id" pInputText>
      </div>
    </div>

    <p-footer>
      <button (click)="cancelDialog()" class="ui-button-secondary" pButton type="button" icon="fas fa-times"
        iconPos="left" label="Cancel"></button>
      <button (click)="saveCatalogItem()" pButton type="button" icon="fas fa-check" iconPos="left"
        label="Add new item"></button>
    </p-footer>

  </p-dialog>

</div>