<mat-sidenav-container class="example-container">
  <mat-sidenav opened mode="side">
    <mat-list>

      <mat-list-item>
        <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/catalog" routerLinkActive="active">Catalog</a>
      </mat-list-item>
      <mat-list-item>
          <a routerLink="/active-items" routerLinkActive="active">Active Items</a>
      </mat-list-item>
      <mat-list-item>
          <a routerLink="/active-items-map" routerLinkActive="active">Active Items Map</a>
      </mat-list-item>
      <mat-list-item>
          <a routerLink="/users" routerLinkActive="active">Users</a>
      </mat-list-item>
     </mat-list>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
