.map-container {
    width: 700px;
    height: 700px;
}

table {
    width: 100%;
}

.custom-marker {
    border: 1px solid red;
    height: 20px;
    border-radius: 20px;
    background-color: red;
}